<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
    <ion-buttons end> 
      <button ion-button (click)="logOut()">Log out</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="landing landing--home" *ngIf="showContent">
  <div class="landing_">
    <div class="home home--user">
      <h2 class="home__text home__text--title" text-center>Lista de Clientes</h2>
      <ion-list-header>
        <ion-label class="home__text home__text--label-null">-</ion-label>
        <ion-label class="home__text home__text--label-user">nome</ion-label>
      </ion-list-header>
      <ion-list class="home__area home__area--list">
        <ion-item *ngFor="let user of usersList; let i = index" (click)="buttonClick(user.id)" class="home__content home__content--list-{{i}}">
          <!-- <ion-label class="home__text home__text--id">{{user.id + 1}}</ion-label> -->
          <ion-label class="home__text home__text--icon"> <img class="home__media" src="{{user.image}}" alt="icon"></ion-label>
          <ion-label class="home__text home__text--user">{{user.nome}} <span>({{user.email}})</span></ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>


 <!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

</ion-content>